<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <form class="form" id="registerForm" action="/api/register" method="POST">
            <h1>Регистрация</h1>
            <input type="text" placeholder="Имя" required />
            <input type="email" placeholder="Email" required />
            <input type="password" placeholder="Пароль" required />
            <input type="password" placeholder="Повторите пароль" required />
            <button type="submit">Зарегистрироваться</button>
            <span>или <a href="/">войти</a></span>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>
